# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\feder\IdeaProjects\GameOn\GameOn\.idea/dataSources/
src/main/resources/config.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/home/francesco/Documenti/repo/GameOn/GameOn/.idea
../.idea

/home/francesco/Documenti/repo/GameOn/GameOn/target
GameOn/target
../target

src/main/resources/config.xml
/home/francesco/Documenti/repo/GameOn/GameOn/src/main/resources/config.xml
../src/main/resources/config.xml

